@import '../../styles/_utils/variables';
@import '../../styles/_utils/mixins';

.artworks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;

  @include on768 {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
  @include on1024 {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  @include on1280 {
    grid-template-columns: repeat(5, 1fr);
  }
}
