@font-face {
    font-family: 'Acumin Pro';
    src: url('./fonts/Acumin_Pro_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('./fonts/Acumin_Pro_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('./fonts/Acumin_Pro_Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('./fonts/Acumin_Pro_Bold_Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Acumin Pro', sans-serif;
    line-height: 1em;
}